version: "3.8"

services:
  frontend:
    build:
      context: ./shoppingmall-fe
      dockerfile: Dockerfile
    container_name: shoppingmall-fe-container
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/certbot/www:/var/www/certbot
      - ./nginx/certbot/conf:/etc/letsencrypt
    depends_on:
      - backend
    networks:
      - shoppingmall-net

  backend:
    build:
      context: ./shoppingmall-be
      dockerfile: Dockerfile
    container_name: shoppingmall-be-container
    environment:
      JAVA_OPTS: -Xms256m -Xmx512m
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - shoppingmall-net

  db:
    image: mysql:8
    container_name: shoppingmall-mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: shoppingmall
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      interval: 5s
      retries: 10
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - shoppingmall-net

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./nginx/certbot/www:/var/www/certbot
      - ./nginx/certbot/conf:/etc/letsencrypt
    entrypoint: >
      /bin/sh -c "sleep 10 &&
      certbot certonly --webroot --webroot-path=/var/www/certbot
      -d linkplusmall.com -d www.linkplusmall.com
      --email taswp@naver.com --agree-tos --no-eff-email"
    networks:
      - shoppingmall-net

volumes:
  mysql-data:

networks:
  shoppingmall-net:
    driver: bridge
