<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.example.mapper.OrderMapper">
	<select id="readOrder" resultType="Order">
		SELECT			o_id as id,
						o_date as date,
						o_total_price as total_price,
						o_state as state,
						user_id
		FROM			orders
	</select>
</mapper>