<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.example.mapper.PointMapper">


	<select id="read_point" parameterType="Point" resultType="Point">
		SELECT        	user_id                as   username,
						user_name              as   name,
						po_content             as   content,
						po_point               as   point,
						po_total_point         as   total_point
						
		FROM 			point 
	</select>

	 

</mapper>