<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.example.mapper.ProductMapper">

	<!-- 테스트 메서드 (상품랭킹 불러오기) -->
	<select id="ranking" parameterType="String" resultType="Product">
		SELECT			p_id					        as 	id,
						p_name 							as 	name,
						p_order_count					as	order_count,
						p_rank                          as  rank
		FROM			product
	</select>
	
		  <!-- 찾게된 카테고리 id를 갖고, 그에 해당하는 하위분류들에 대한 데이터를 반환  -->
	<select id="lowCgData" parameterType="int" resultType="Product">
		SELECT			p_id					        as 	id,
						p_name 							as 	name,
						p_order_count					as	order_count,
						p_rank                          as  rank						 
		FROM 			product, (SELECT cg_id as id FROM category WHERE cg_id LIKE CONCAT(#{id}, '%')) ta1
		where  			ta1.id = product.p_category
	</select>
	
	
	<select id="lowCgData_all" parameterType="int" resultType="Product">
		SELECT			p_id					        as 	id,
						p_name 							as 	name,
						p_order_count					as	order_count,
						p_rank                          as  rank						 
		FROM 			product
	</select>
	
	
	<select id="readProduct" parameterType="String" resultType="Product">
		SELECT			p_id					        as 	id,
						p_name 							as 	name,
						p_price                         as  price,
						p_order_count					as	order_count,
						p_views                         as  views,	
						p_category                      as  category,
						p_quantity			            as  quantity
		FROM 			product
	</select>

</mapper>
